@{
    ViewData["Title"] = "Home Page";
}

@model ArticleViewModel
@section Script{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}
<div class="row">
    <div class="col-3">
        @await Component.InvokeAsync("Categories")

    </div>
    <div class="col-9">
        @if (Model.Articles.Count == 0)
        {
            <partial name="_NoArticle" />
        }
        else
        {
    <div class="row">
        @foreach (var article in Model.Articles)
        {
            <partial name="_Article" model="article" />
        }
    </div>
        }
    </div>
</div>
